<nav class="c-nav" aria-label="Primary">
  <a class="c-nav__brand" href="/">Site</a>
  <ul class="c-nav__list">
    <li class="c-nav__item"><a class="c-nav__link" href="/Home">Home</a></li>
    <li class="c-nav__item">
      <a class="c-nav__link" href="/Testing%20Escaping%20%3Cscript%3Ealert%28%27xss%27%29%3C%255cscript%3E">Alert</a>
    </li>
    <li class="c-nav__item"><a class="c-nav__link" href="/comments">Comments Demo</a></li>
  </ul>
</nav>
