<nav class="c-nav" aria-label="Primary">
  <a class="c-nav__brand" href="/">test-template</a>
  <ul class="c-nav__list">
    <li class="c-nav__item"><a class="c-nav__link" href="/">Home</a></li>
  </ul>
</nav>
