amends "package://github.com/jdx/hk/releases/download/v{{ hk_version }}/hk@{{ hk_version }}#/Config.pkl"

hooks {
    ["pre-commit"] {
        fix = true
        steps {
            ["bench"] {
                glob = "*_bench.ts"
                check = "deno task bench"
            }
            ["biome"] {
                glob = "*.ts"
                check = "deno task biome check {% raw %}{{files}}{% endraw %}"
                fix = "deno task biome check --write {% raw %}{{files}}{% endraw %}"
            }
            ["check"] {
                glob = "*.ts"
                check = "deno check"
            }
            ["fmt"] {
                check = "deno task fmt --check {% raw %}{{files}}{% endraw %}"
                fix = "deno task fmt {% raw %}{{files}}{% endraw %}"
            }
            ["test"] {
                glob = "*_test.ts"
                check = "deno task test"
            }
            ["test:e2e"] {
                glob = "*.ts"
                check = "deno task test:e2e --project=chrome"
                // profiles = "slow")
            }
        }
    }
}
